canvas {
position: fixed;
top: 0;
left: 0;
}

h1, blockquote {
  color: #000000;
  width: 100%;
  margin: 0px auto;
  padding: 5px 0px;
  position: fixed;
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  color: #000000;
  position: fixed;
  font-family: elevon, sans-serif;
  font-style: normal;
  right: 355px;
  top: 100px;
  font-size: 22px;
}

h3 {
  color: #000000;
  position: fixed;
  font-family: elevon, sans-serif;
  font-style: normal;
  right: 370px;
  top: 190px;
  font-size: 22px;
}

  header {
    text-align: center;
    background: var(--dark-bg);
    grid-column: 1 / span 12;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-bottom: var(--spacing);
  }

  .tophud {
    position: fixed;
    top: 150px;
    right: 250px;
    height: 150px;
    width: 300px;
}

  .lefthud {
    position: fixed;
    left: 50px;
    height: 100%;
    width: 80px;
}

  .righthud {
    position: fixed;
    right: 50px;
    height: 100%;
    width: 80px;
}

.editButton {
  position: fixed;
  top: 50px;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 27px;
  border: none;
}

.editButton:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.upButton {
  position: fixed;
  top: 400px;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 40px;
  border: none;
}

.upButton:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.downButton {
  position: fixed;
  top: 470px;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 40px;
  border: none;
}

.downButton:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.extraButton {
  position: fixed;
  top: 330px;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 27px;
  border: none;
}

.extraButton:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.extraButton:pressed {
  border: solid 3px rgb(10, 2, 2);
}

.rightButton {
  position: fixed;
  right: 250px;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 27px;
  border: none;
}

.rightButton:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.leftButton {
  position: fixed;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 27px;
  border: none;
}

.leftButton:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.right2Button {
  position: fixed;
  right: 250px;
  top: 240px;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 27px;
  border: none;
}

.right2Button:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.left2Button {
  position: fixed;
  top: 240px;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 27px;
  border: none;
}

.left2Button:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.goButton {
  position: fixed;
  top: 310px;
  right: 300px;
  width: 60px;
  height: 50px;
  background: none;
  font-size: 27px;
  border: none;
}

.goButton:hover {
  cursor: pointer;
		border: solid 3px rgb(10, 2, 2);
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  top: 320px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0c0a0a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #FFF8E7;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}